{% load static %}
        <!-- REQUIRED SCRIPTS -->
        <!-- jQuery -->
        <script src="{% static 'adminLTE/plugins/jquery/jquery.min.js' %}"></script>
        <!-- Bootstrap -->
        <script src="{% static 'adminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <!-- overlayScrollbars -->
        <script src="{% static 'adminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
        <!-- AdminLTE App -->
        <script src="{% static 'adminLTE/dist/js/adminlte.js' %}"></script>