{% load crispy_forms_tags %}
<div class="container">
    <div class="card card-primary">
        <div class="card-header text-center">
            <div class="row">
                <h3 class="card-title mx-auto w-100">Professor</h3>
            </div>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="post" enctype="multipart/form-data">
            <div class="card-body">
                {% crispy form %}
                <a type="button" class="btn btn-secondary" href="{% url 'list_teachers' %}">
                    <i class="fas fa-arrow-left"></i> Voltar
                </a>
                <button type="submit" class="btn btn-primary" style="float:right">
                    <i class="fas fa-arrow-right"></i> Enviar
                </button>
            </div>
            <!-- /.card-body -->
        </form>
    </div>
</div>
